<div>
  <h2 id="page-heading" data-cy="OrderHistoryHeading">
    <span jhiTranslate="progIiFinalApp.orderHistory.home.title">Order Histories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="progIiFinalApp.orderHistory.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-order-history"
        [routerLink]="['/order-history/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="progIiFinalApp.orderHistory.home.createLabel"> Crear nuevo Order History </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orderHistories?.length === 0">
    <span jhiTranslate="progIiFinalApp.orderHistory.home.notFound">Ningún Order Histories encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="orderHistories && orderHistories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cliente">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.cliente">Cliente</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accionId">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.accionId">Accion Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accion">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.accion">Accion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="operacion">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.operacion">Operacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cantidad">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.cantidad">Cantidad</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="precio">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.precio">Precio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaOperacion">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.fechaOperacion">Fecha Operacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="modo">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.modo">Modo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estado">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.estado">Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportada">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.reportada">Reportada</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="operacionObservaciones">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.operacionObservaciones">Operacion Observaciones</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaEjecucion">
            <div class="d-flex">
              <span jhiTranslate="progIiFinalApp.orderHistory.fechaEjecucion">Fecha Ejecucion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderHistory of orderHistories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/order-history', orderHistory.id, 'view']">{{ orderHistory.id }}</a>
          </td>
          <td>{{ orderHistory.cliente }}</td>
          <td>{{ orderHistory.accionId }}</td>
          <td>{{ orderHistory.accion }}</td>
          <td jhiTranslate="{{ 'progIiFinalApp.Operacion.' + orderHistory.operacion }}">{{ orderHistory.operacion }}</td>
          <td>{{ orderHistory.cantidad }}</td>
          <td>{{ orderHistory.precio }}</td>
          <td>{{ orderHistory.fechaOperacion | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'progIiFinalApp.Modo.' + orderHistory.modo }}">{{ orderHistory.modo }}</td>
          <td jhiTranslate="{{ 'progIiFinalApp.Estado.' + orderHistory.estado }}">{{ orderHistory.estado }}</td>
          <td>{{ orderHistory.reportada }}</td>
          <td>{{ orderHistory.operacionObservaciones }}</td>
          <td>{{ orderHistory.fechaEjecucion | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/order-history', orderHistory.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/order-history', orderHistory.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(orderHistory)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
