<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="orderHistory">
      <h2 data-cy="orderHistoryDetailsHeading"><span jhiTranslate="progIiFinalApp.orderHistory.detail.title">Order History</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ orderHistory.id }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.cliente">Cliente</span></dt>
        <dd>
          <span>{{ orderHistory.cliente }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.accionId">Accion Id</span></dt>
        <dd>
          <span>{{ orderHistory.accionId }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.accion">Accion</span></dt>
        <dd>
          <span>{{ orderHistory.accion }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.operacion">Operacion</span></dt>
        <dd>
          <span jhiTranslate="{{ 'progIiFinalApp.Operacion.' + orderHistory.operacion }}">{{ orderHistory.operacion }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.cantidad">Cantidad</span></dt>
        <dd>
          <span>{{ orderHistory.cantidad }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.precio">Precio</span></dt>
        <dd>
          <span>{{ orderHistory.precio }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.fechaOperacion">Fecha Operacion</span></dt>
        <dd>
          <span>{{ orderHistory.fechaOperacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.modo">Modo</span></dt>
        <dd>
          <span jhiTranslate="{{ 'progIiFinalApp.Modo.' + orderHistory.modo }}">{{ orderHistory.modo }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.estado">Estado</span></dt>
        <dd>
          <span jhiTranslate="{{ 'progIiFinalApp.Estado.' + orderHistory.estado }}">{{ orderHistory.estado }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.reportada">Reportada</span></dt>
        <dd>
          <span>{{ orderHistory.reportada }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.operacionObservaciones">Operacion Observaciones</span></dt>
        <dd>
          <span>{{ orderHistory.operacionObservaciones }}</span>
        </dd>
        <dt><span jhiTranslate="progIiFinalApp.orderHistory.fechaEjecucion">Fecha Ejecucion</span></dt>
        <dd>
          <span>{{ orderHistory.fechaEjecucion | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/order-history', orderHistory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
